@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(0deg);
    }
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    color: $color-primary;
    background-color: $color-background;
    font-size: 1.4rem;
    & a {
        color: $color-primary;
        text-decoration: none;
    }
    & ul {
        padding:0 1.2rem;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        @include mobile-only{
            font-size: 1.2rem;
            padding: 0 .5rem;
        }
        li:hover{
            animation: wiggle 1s infinite ease-in-out;
        }
    }
}