.header{
    text-align: center;
    background-color: $color-background;
    padding: .2rem;
    &__title{
        color: $color-primary;
        font-size: 3rem;
    }
    & a {
        color: $color-primary;
        text-decoration: none;
    }
}