@include font("calligraffitiregular", "Calligraffiti");
@include font("black_jackregular", "blackjack");
@include font("blokletters_potloodpotlood", "Blokletters-Potlood");
@include font("jrhandregular", "jr!ha___");

body{
    font-family: 'Trebuchet MS', 'Arial Narrow', Arial, sans-serif;
}

.card{
    font-family: 'blokletters_potloodpotlood', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-page section {
    font-family: "blokletters_potloodpotlood", Arial, Helvetica, sans-serif;
}

.card__enchantee--name{ 
    font-family: "black_jackregular", Arial, Helvetica, sans-serif;
}

.card__francaise{
    &--name{
        font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    }
    section{
        font-family: 'Verdana', Helvetica, sans-serif;
    }
}

.card__papilles--name{
    font-family: "calligraffitiregular", Arial, Helvetica, sans-serif;
}

.card__gout--name{
    font-family: "jrhandregular", Arial, Helvetica, sans-serif;
}
