@keyframes dots {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.8);
        transform-origin: bottom;
    }
}

.card {
    @include card-style($menu-list);
}

.cards-list{
    width: 700px;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: scale(1);
    @include tablet-only{
        width: 590px;
    }
    @include mobile-only{
        width: $mobile-card-w;
    }
    .card{
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        @include card-size(280px, 390px, .95rem);
        @include mobile-only{
            @include card-size($mobile-card-w, 430px, 1.15rem);
        }
        @include box-shadow();
        transition: all 300ms ease-in-out;
        & img{
            width: 40px;
            transition: all 300ms ease-in-out;
        }
        &:hover{
            & img{
                transform: scale(1.2);
            }
            font-size: 1.1rem;
            @include mobile-only{
                font-size: 1.3rem;
            }
            opacity: .65;
        }
    }
}


.soon{
    font-size: 1.2rem;
    margin: 1rem auto 10rem auto;
    width: 16rem;
    text-align: center;
    &__title{
        border-radius: 15px;
        padding: 13px;
        background-color: $color-background;
        color: $color-primary;
        cursor: pointer;
    }
    &__dot {
        padding-right: .2rem;
        display: inline-block;
    }
    &:hover > &__title > &__dot{
        animation: dots $anim-dur backwards infinite ease-in-out alternate;
        @for $i from 1 through 3 {
            &--#{$i}{
                animation-delay: $anim-delay * $i;
            } 
         }
    }
}