@keyframes subligne {
    from {
        transform: scaleX(0);
        transform-origin: left;
    }
    to {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.card-page{
    width: 780px;
    margin: 4rem auto 10rem auto;
    padding-bottom: 5rem;
    @include box-shadow();
    @include tablet-only{
        width: 95%;
    }
    > header {
        text-align: center;
        font-size: 1.8rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
        @include mobile-only{
            font-size: 1.2rem;
        }
        img{
            width: 80px;
        }
    }
    .entree, .plat, .dessert{
        width: 90%;
        margin: auto;
        &__header{
            padding: 2rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--titre{
                width: max-content;
                > h3 {
                    margin: auto;
                    text-align: center;
                    font-size: 1.2rem;
                    @include mobile-only{
                        font-size: 0.95rem;
                    }
                }
                > hr{
                    margin-bottom: -10px;
                    transform: scaleX(0);
                    border: 1px solid black;
                }
                &:hover{
                    > hr{
                        animation: subligne 1.4s ease-in-out forwards;
                    }
                }
            }
            > img {
                width: 25%;
            }
        }
        ul {
            list-style-type: none;
            width: 85%;
            li {
                margin: 1rem auto;
                display: flex;
                justify-content: space-between;
                font-size: 0.87rem;
                @include mobile-only{
                    font-size: 0.80rem;
                }
                span{
                    padding-left: 1rem;
                }
            }
        }
        &--ench ul{
            width: 94%;
            li{
                margin-left: -2.5rem;
                span{
                    font-weight: bold;
                }
            }
        }
    }
    .separator--left{
        transform: rotate(180deg);
    }
    &__footer {
        margin-top: 4rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            padding-right: .5rem;
            width: 40px;
        }
    }
}
.card__francaise{
    @each $key, $color in $color-content-francaise {
        .#{$key}{
            color: $color;
            &__header{
                hr {
                    border-color: $color;
                }
            }
        }
    }
}